<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-white">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Название компании
            </h6>
            <p>
                IsaacFILMS это компания которая производит прокат фильмов и уже пользуются популярностью на протяжении 7 лет
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Наш продукт
            </h6>
            <p>
              <a href="#!" class="text-reset">Прокат фильмов</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Просмотр рецензии</a>
            </p>
            <p>
              <a href="#!" class="text-reset">FAQ</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Вакансии</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Полезные ссылки
            </h6>
            <p>
              <a href="#!" class="text-reset">Цены</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Настройки</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Заказы</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Помощь</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Бишкек, 10012, KY</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              xiaomi116.kg@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 996 705 63 82 80</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 996 999 63 82 80</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
</body>
</html>