<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <h1>Вы уверены что хотите удалить?</h1>
    {% csrf_token %}
    <button type="submit">Да</button>
</form>
    <button><a href="/tvshow/">Нет</a> </button>
</body>
</html>