<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in book %}
    <h1>{{i.title}}</h1>
    <img src="{{i.image.url}}" alt="">
    <p>{{i.cost}}</p>
    <p>{{i.description}}</p>
    <p>{{i.created_at}}</p>
{% endfor %}
</body>
</html>
